<!--Index page to display main page content-->

{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %} Welcome to Hannah Kaye's Page! {% endblock %}</h1>
  {% for post in posts %}
    <a href="{{ url_for('main.post', post_id=post['id']) }}">
      <h2>{{ post['title'] }}</h2>
    </a>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('main.edit_post', id=post['id']) }}">
      <span class="badge badge-warning">Edit</span>
    </a>
    {% endif %}
    <hr>
  {% endfor %}

  {% for link in links %}
    <a href="{{ link['content'] }}">
      <h2>{{ link['title'] }}</h2>
    </a>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('main.edit_link', id=link['id']) }}">
      <span class="badge badge-warning">Edit</span>
    </a>
    {% endif %}
    <hr>
  {% endfor %}
{% endblock %}
